@import "animation.css";

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Helvetica Heue';
    src: url('../fonts/HelveticaNeueCyr-Light.woff2' format('woff2'));
}

body {
    --button-bg: #3e9ffd;
    --border-clr: #636363;
    font-family: 'Helvetica Heue', sans-serif;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: 4s bgShow 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    z-index: -1;
}

.background--bg1 {
    background-image: url("../images/bg1.jpg");
    /*animation: 4s bgShow 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;*/
}

.background--bg2 {
    background-image: url("../images/bg2.jpg");
    /*animation: 4s bgShow 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;*/
}

.background--bg3 {
    background-image: url("../images/bg3.jpg");
    /*animation: 4s bgShow 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;*/
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    perspective: 800px;
}

.form__wrapper {
    position: relative;
    padding: 80px 40px 40px;
    display: flex;
    flex-direction: column;
    max-width: 360px;
    width: 100%;
    z-index: 5;
    -webkit-box-shadow: 4px 4px 37px 6px rgba(34, 60, 80, 0.22);
    -moz-box-shadow: 4px 4px 37px 6px rgba(34, 60, 80, 0.22);
    box-shadow: 4px 4px 37px 6px rgba(34, 60, 80, 0.22);
    backdrop-filter: blur(3px);
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    perspective: 250px;
}

.form__wrapper::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
    z-index: -1;
}

.form__logo {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 104px;
    animation: 1s slide-rotate-hor-top cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.form__title {
    font-size: 30px;
    font-weight: 400;
}

.form__subtitle {
    font-size: 15px;
    font-weight: 400;
    opacity: 50%;
}

.form__header {
    text-align: center;
    margin-bottom: 37px;
}

.form__header,
.form__inputs {
    display: flex;
    flex-direction: column;
}

.form__input-login {
    margin-bottom: 20px;
}

.form__input-pass {
    margin-bottom: 25px;
}

.form__input {
    border: 1px solid var(--border-clr);
    box-sizing: border-box;
    -webkit-box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 5px 7px 2px rgba(0, 0, 0, 0.1) inset;
}

.form__input:focus {
    outline: var(--button-bg) solid 2px;
    outline-offset: -2px;
}

.form__input::placeholder {
    opacity: .5;
}

.form__input,
.form__btn {
    padding: 12px;
    font-size: 16px;
}

.form__label {
    font-size: 13px;
    color: var(--border-clr);
    margin-bottom: 42px;
    display: flex;
    align-items: center;
}

.form__checkbox {
    margin-right: 7px;
}

.form__btn {
    border: none;
    background-color: var(--button-bg);
    color: #fff;
    font-family: inherit;
    cursor: pointer;
}